<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<script type="text/javascript" src="assets/js/jquery.js"></script>
 <link rel="stylesheet" type="text/css" href="data/css/grazestrap.css">
	<link rel="stylesheet" type="text/css" href="data/css/font-awesome.css">
		
<script type="text/javascript" src="assets/js/cloud-zoom.1.0.2.min.js"></script>
</head>


  <body class="grazestrap  " data-context="{&quot;brand&quot;:1,&quot;country&quot;:&quot;UK&quot;,&quot;key&quot;:&quot;&quot;}">
  <style type="text/css">
*{margin:0px;padding:0;list-style-type:none;}
body{background:#E9F0F5;font-family:Arial, Helvetica, sans-serif;font-size:13px;margin:0px;padding:0px;}
html{background-color:#E9F0F5;}
img{border:none;}
h3{font-family:Tahoma, Geneva, sans-serif;font-size:14px;color:#333;letter-spacing:1px;margin-top:10px;margin-bottom:10px;}
p{margin-bottom:10px;margin-top:10px;line-height:22px;}
.demo{margin:0 auto;width:600px;}
.tickul li{line-height:24px;}
/* zoom-section */
.zoom-section{clear:both;margin-top:20px;}
*html .zoom-section{display:inline;clear:both;}
.zoom-desc{float:left;margin-left:10px;width:310px;margin-bottom:20px;}
.zoom-small-image{border:4px solid #CCC;float:left;margin-bottom:20px;}
.zoom-tiny-image{border:1px solid #CCC;margin:0px;}
.zoom-tiny-image:hover{border:1px solid #C00;}
</style>
     <div class="page-background">
<nav class="navbar navbar-default navbar-graze" role="navigation">

    <div class="container">

        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="index.html">
                <img src="" alt="Takeoff" height="36" width="106">
            </a>
        </div>

        <div class="navbar-header pull-right">

                                     
                        
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
                <span class="sr-only">Toggle menu</span>
                <i class="icon-reorder"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">

                        
            <ul class="nav navbar-nav navbar-primary" role="presentation">

                
                <li class="">
                    <a href="collection.html">Product</a>
                </li>

                                
                
                
            </ul>

            
            
            
                        <ul class="nav navbar-nav navbar-right" role="presentation">
                
         
                <li>
                                    <a href="collection.html" class="navbar-btn btn btn-theme">get started</a>
                                </li>
            </ul>

                        
        </div>
    </div>
</nav>	            <div id="content" class="page-content  page-content-compact page-content-mock-fixed">
				
    <div class="container-fluid padding-bottom">      	
	<div class="row">
		<div class="col-md-12">
		
		</div>
	</div>
	
	<div class="row">
	<div class="col-md-3">


        </div>
	<div class="col-md-6">
		<div class="demo">

	<div class="zoom-section">    	  
		<div class="zoom-small-image">
			<a href='data/img/bigimage00.jpg' class = 'cloud-zoom' id='zoom1' rel="adjustX:10, adjustY:-4"><img src="data/img/smallimage.jpg" alt='' title="Optional title display" /></a></div>
		<div class="zoom-desc">
			<h3></h3>       
			<p><a href='data/img/bigimage00.jpg' class='cloud-zoom-gallery' title='Red' rel="useZoom: 'zoom1', smallImage: 'data/img/smallimage.jpg' "><img class="zoom-tiny-image" src="data/img/tinyimage.jpg" alt = "Thumbnail 1"/></a>
			
			<a href='data/img/bigimage01.jpg' class='cloud-zoom-gallery' title='Blue' rel="useZoom: 'zoom1', smallImage: ' data/img/smallimage-1.jpg'"><img class="zoom-tiny-image" src="data/img/tinyimage-1.jpg" alt = "Thumbnail 2"/></a>                  
			<a href='data/img/bigimage02.jpg' class='cloud-zoom-gallery' title='Blue' rel="useZoom: 'zoom1', smallImage: 'data/img/smallimage-2.jpg' "><img class="zoom-tiny-image" src="data/img/tinyimage-2.jpg" alt = "Thumbnail 3"/></a></p>

	</div>
	</div><!--zoom-section end--> 
</div>


				</div>

<div class="col-md-3">


        </div>
  </div>
 </div>
 
 
 <div id="content" class="">
                <div class="container">

            <div class="spacer"></div>
<div class="row hidden-xs">
    <div class="col-sm-4 col-sm-push-8 text-left text-right-sm">
        
    </div>
    <div class="col-sm-8 col-sm-pull-4">
                <h3 class="buffer-top-reset buffer-bottom-xlg">tell us about you…</h3>
            </div>
</div>
    
        <div class="row">
            <div class="col-sm-6 col-sm-push-4">
                <h4><span class="grazeGreenDark">1 of 3</span> - your details</h4>
                <p class="hidden-xs">please tell us your name, email address and choose a password…</p>

                
                <form id="details-form" role="form" method="post" action="/registration" class="has-validation bv-form" data-validate-form="true" novalidate="novalidate"><button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>

                    <div class="row">
                        <div class="form-group optional col-xxs-12 col-md-4">
                            <label class="control-label" for="title">Title</label>
                            <select class="form-control" name="title" id="titleField">
                                <option value="">None</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                            </select>
                        </div>

                        <div class="form-group col-xxs-6 col-md-4 has-feedback">
                            <label for="firstName" class="control-label">first name</label>
                            <input type="text" class="form-control" value="" id="firstName" name="firstName" required="" data-bv-notempty="true" data-bv-notempty-message="first name is required" data-bv-field="firstName"><i class="form-control-feedback" data-bv-icon-for="firstName" style="display: none;"></i>
                                                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="firstName" data-bv-result="NOT_VALIDATED" style="display: none;">first name is required</small></div>

                        <div class="form-group col-xxs-6 col-md-4 has-feedback">
                            <label for="lastName" class="control-label">last name</label>
                            <input type="text" class="form-control" value="" id="lastName" name="lastName" required="" data-bv-notempty="true" data-bv-notempty-message="last name is required" data-bv-field="lastName"><i class="form-control-feedback" data-bv-icon-for="lastName" style="display: none;"></i>
                                                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="lastName" data-bv-result="NOT_VALIDATED" style="display: none;">last name is required</small></div>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="email" class="control-label">email address</label>
                        <input type="email" class="form-control" value="" name="email" placeholder="example@address.com" required="" data-bv-trigger="blur" data-bv-notempty-message="email is required and cannot be empty" data-bv-emailaddress-message="This does not appear to be a valid email address" data-bv-field="email"><i class="form-control-feedback" data-bv-icon-for="email" style="display: none;"></i>
                                                                                            <small class="help-block" data-bv-validator="emailAddress" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">This does not appear to be a valid email address</small><small class="help-block" data-bv-validator="notEmpty" data-bv-for="email" data-bv-result="NOT_VALIDATED" style="display: none;">email is required and cannot be empty</small></div>

                    <div class="form-group has-feedback">
                        <label for="password" class="control-label">password</label>
                        <input type="password" class="form-control" id="password" name="password" required="" data-bv-notempty="true" data-bv-notempty-message="password is required and cannot be empty" data-bv-field="password"><i class="form-control-feedback" data-bv-icon-for="password" style="display: none;"></i>
                                            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="password" data-bv-result="NOT_VALIDATED" style="display: none;">password is required and cannot be empty</small></div>

                    <div class="form-group">
                        <label id="allergy-no" class="control-label" for="title">do you have any allergies?</label>
                        <br>
                        <label class="radio-inline" onclick="$j('#allergy-info').collapse('hide')">
                            <input type="radio" name="allergies" value="No" checked="checked"> No
                        </label>
                        <label id="allergy-yes" class="radio-inline" onclick="$j('#allergy-info').collapse('show')" aria-expanded="true">
                            <input type="radio" name="allergies" value="Yes"> Yes
                        </label>
                        <div id="allergy-info" class="collapse out" aria-expanded="false">
                            <p>
                                <t: @key="allergy1">Because all of our food is packed in the same area it may contain traces of gluten, eggs, peanuts, soya, milk, nuts, celery, mustard, fish, and sesame and therefore is not suitable for those with allergies.</t:>
                            </p>
                            <p>
                                <t: @key="allergy2">If you&#8203; have a dietary preference it's easy to choose or exclude products using our dietary preferences filters and ratings system.&#8203; &#8203;Our non vegetarian products are &#8203;excluded by default unless you tell us otherwise.</t:>
                            </p>
                        </div>
                    </div>
                    <script>
                        $j("#allergy-info").collapse({toggle: false});
                        $j("allergy-yes").click(function() {
                            $j('#allergy-info').collapse('show');
                        });
                        $j("allergy-no").click(function() {
                            $j('#allergy-info').collapse('hide');
                        });
                    </script>

                    <button type="submit" id="submit-button" class="btn btn-lg btn-success btn-wrap btn-block-sm">continue <i class="icon-chevron-right"></i></button>
                    <div class="clearfix"></div>

                    <div class="spacer"></div>
<hr class="buffer-lg">

<div class="spacer-lg"></div>
                </form>
            </div>

            <div class="spacer-lg visible-xs"></div>
            <div class="col-sm-4 col-sm-pull-6">
                <div class="panel panel-body">
    <h4 class="buffer-bottom-lg">your order summary</h4>
    <hr class="buffer">

    <p class="" data-sample-box="" data-sample-box-shipping="">
                                    You've chosen to receive a <span class="nutrition-plan-normalise"><span style="font-weight:bold;color:#425C93;">variety</span> <span style="font-weight:normal;color:#7A7A7A;">box</span></span> as your first box
                <a href="/uk/signup/choosebox" data-choose-box="">
                    – change box type &gt;
                </a>
                        </p>

    <div class="pre-hide" data-sample-box="">
        <p>You've redeemed a <b><span class="grazeNutritionNibble">4 snack sampler</span></b> box absolutely free!</p>

        <p class="hidden-xs">
            After your free trial, you will receive regular deliveries of our <b><span class="grazeNutritionNibble"><span style="font-weight:bold;color:#425C93;">variety</span> <span style="font-weight:normal;color:#7A7A7A;">box</span></span></b> weekly for just £3.99 each.
        </p>
                <p>
            <a href="/uk/registration/choose-box" data-choose-box="">
                change box type &gt;
            </a>
        </p>
            </div>

    <div class="pre-hide" data-sample-box-shipping="">
        <p>You've redeemed a <b><span class="grazeNutritionNibble">4 snack sampler</span></b> box free, plus <span data-sample-box-shipping-price=""></span> shipping!</p>

        <p class="hidden-xs">
            After your free trial, you will receive regular deliveries of our <b><span class="grazeNutritionNibble"><span style="font-weight:bold;color:#425C93;">variety</span> <span style="font-weight:normal;color:#7A7A7A;">box</span></span></b> weekly for just £3.99 each.
        </p>
        <p>
            <a href="/uk/registration/choose-box" data-choose-box="">
                change box type &gt;
            </a>
        </p>
    </div>

    
        
                            <p>
                    You'll get <strong data-promocode-description="true">your first box half price</strong> and your other boxes will cost £3.99 each
                </p>
            
        
    
            <p class="hidden-xs">
            graze is a regular service but <strong class="grazeOrange">you can change or stop your orders at any time.</strong>
            You’ll pay per box so you’re never tied into ongoing deliveries.
        </p>
    
            <p class="buffer-bottom-reset" data-promocode-link="true">
            <i class="icon-3x icon-tag pull-left"></i> have a promotion or gift code?
            <br>
            <a href="/uk/signup/promocode-modal" data-toggle="modal" data-target="#grazeModal" data-maxwidth="450">
                enter it here &gt;
            </a>
        </p>
    </div>

            </div>
           
           
        </div>
    </div>
        </div>


    <div class="footer-wrapper">
    <div class="container graze-footer">
                <div class="row">
            <div class="col-sm-5 col-skinny-right">
                <ul>
                    <li>
                        © 2015 nature delivered ltd                    </li>

                                        <li>
                        <a href="#/uk/help/terms">
                            terms
                        </a>
                    </li>
                    <li>
                        <a href="#/uk/help/privacy">
                            privacy
                        </a>
                    </li>
                    <li>
                        <a href="#/uk/about">
                            about
                        </a>
                    </li>
                    <li>
                        <a href="#/uk/jobs">
                            jobs
                        </a>
                    </li>
                                    </ul>
            </div>
            <div class="col-sm-5 col-sm-push-2 col-skinny-left">
                <ul class="links">
                                        <li>
                        <a href="#/uk/help/howitworks">
                            how it works
                        </a>
                    </li>
                    <li>
                        <a href="#/uk/faqs">
                            faqs
                        </a>
                    </li>
                    <li>
                        <a href="#/uk/health">
                            health                        </a>
                    </li>

                    <li>
                        <a href="#/uk/gifts">
                            gifts
                        </a>
                    </li>
                    <li>
                        <a href="#/uk/wholesale">
                            wholesale
                        </a>
                    </li>
                                        <li>
                        <a href="#/uk/in-shops">
                            in shops
                        </a>
                    </li>
                                        <li>
                        <a href="#/uk/help/contact">
                            get in touch
                        </a>
                    </li>
                                    </ul>

                                <p class="socialLinks">
                                            <a class="facebookBrand" href="#" target="_blank" title="like us on Facebook">
                            <i class="icon-facebook icon-2x visible-xs"></i>
                            <i class="icon-facebook hidden-xs"></i>
                            <span class="sr-only">like us on Facebook</span>
                        </a>
                                                                <a class="twitterBrand" href="#" title="follow us on Twitter">
                            <i class="icon-twitter icon-2x visible-xs"></i>
                            <i class="icon-twitter hidden-xs"></i>
                            <span class="sr-only">follow us on Twitter</span>
                        </a>
                    
                                            <a class="instagramBrand" href="#" target="_blank" title="follow us on Instagram">
                            <i class="icon-instagram icon-2x visible-xs"></i>
                            <i class="icon-instagram hidden-xs"></i>
                            <span class="sr-only">follow us on Instagram</span>
                        </a>
                    
                                            <a class="linkedinBrand" href="#" target="_blank" title="follow us on LinkedIn">
                            <i class="icon-linkedin-sign icon-2x visible-xs"></i>
                            <i class="icon-linkedin-sign hidden-xs"></i>
                            <span class="sr-only">follow us on LinkedIn</span>
                        </a>
                    
                        <a href="#" target="_blank">
                            <i class="icon-tumblr icon-2x visible-xs"></i>
                            <i class="icon-tumblr hidden-xs"></i>
                            <span class="sr-only">follow us on Tumblr</span>
                        </a>

                    <a href="#" target="_blank" title="graze tech blog">
                        <i class="icon-code icon-2x visible-xs"></i>
                        <i class="icon-code hidden-xs"></i>
                        <span class="sr-only">graze tech blog</span>
                    </a>
                </p>
                <div class="spacer-lg visible-xs"></div>
                            </div>
        </div>
    </div>
    <div class="container-fluid footer-border text-center">
        <div class="g-mark-wrap">
            <a href="#/uk/"><img src="" alt="graze.com" height="72" width="80"></a>
        </div>
    </div></div>
</div>
</div>
    </body>
	
	
</html>